<div class="dashboard-container">
  <app-progress-bar [isLoading]="(isLoading$ | async)"></app-progress-bar>
  <mat-card>
    <app-map-action [disabled]="authSrv.getUserId() !== selectedUserId" [userList]="(userList$ | async)" [showUsersSelection]="userSrv.isAdminUser()"
                    (onNewLocationAction)="onAddLocation()"></app-map-action>
  </mat-card>
  <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <div *ngFor="let marker of (userData)?.fkLocation" class="dashboard-marker">
      <agm-marker [animation]="2"
                  [label]="{fontSize: '16px', text:mapSrv.getLocationProperty(marker,'label'), id:mapSrv.getLocationProperty(marker,'_id')}"
                  [iconUrl]="marker.iconUrl"
                  [latitude]="marker.latitude" [longitude]="marker.longitude"
                  (markerClick)="onMarkerClicked($event)"
                  (mouseOver)="onMouseOver(infoWindow,gm)"
                  (mouseOut)="onMouseOut(infoWindow, $event)">
        <agm-info-window [disableAutoPan]="false" #infoWindow>
          <div class="gmap-info-window-container">
            {{marker.info}}
          </div>

        </agm-info-window>
      </agm-marker>
    </div>
  </agm-map>

</div>
