<div class="dashboard-container">
  <mat-card>
    <app-map-action (onNewLocationAction)="onAddLocation()"></app-map-action>
  </mat-card>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <div *ngFor="let marker of (userData)?.fkLocation" class="dashboard-marker">
      <agm-marker (markerClick)="onMarkerClicked($event)" [animation]="2"
                  [label]="{fontSize: '16px', text:mapSrv.getLocationProperty(marker,'label'), id:mapSrv.getLocationProperty(marker,'_id')}"
                  [iconUrl]="marker.iconUrl"
                  [latitude]="marker.latitude" [longitude]="marker.longitude">
      </agm-marker>
    </div>
  </agm-map>

</div>
