<div class="login-page">
  <div class="content">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="submit()" [formGroup]="loginForm">
          <p>
            <mat-form-field>
              <input formControlName="email" matInput placeholder="email" type="text">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input formControlName="password" matInput placeholder="Password" type="password">
            </mat-form-field>
          </p>


          <div class="button">
            <button mat-raised-button class="register-btn" color="primary" (click)="$event.stopPropagation()" [routerLink]="['/register']" >Register</button>
            <button mat-raised-button type="submit">Login</button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
