:host {
  .logger-details-container {

    table {
      width: 100%;
    }

    .mat-form-field {
      margin-left: 20px;
      font-size: 14px;
      max-width: 400px;
    }

    tr.mat-row {
      cursor: pointer;
    }

    .mat-column-latitude,.mat-column-longitude, .mat-column-ip,mat-column-created_date {
      min-width: 100px;
    }

    .mat-column-city,.mat-column-region{
      min-width: 70px;
    }
  }
}

