<div *ngIf="loggerDetail.length" class="logger-details-container">

  <mat-form-field>
    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
  </mat-form-field>

  <table [dataSource]="(dataSource)" class="mat-elevation-z8" mat-table>


    <ng-container class="logger-cell"  matColumnDef="created_date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Date</th>
      <td *matCellDef="let element" mat-cell> {{element.created_date  | date :'short'}} </td>
    </ng-container>

    <ng-container  class="logger-cell" matColumnDef="ip">
      <th *matHeaderCellDef mat-header-cell> IP</th>
      <td *matCellDef="let element" mat-cell> {{element.ip}} </td>
    </ng-container>

    <ng-container class="logger-cell" matColumnDef="city">
      <th *matHeaderCellDef mat-header-cell> City</th>
      <td *matCellDef="let element" mat-cell> {{element.fkLocation?.city }} </td>
    </ng-container>

    <ng-container matColumnDef="region_code">
      <th *matHeaderCellDef mat-header-cell> Region</th>
      <td *matCellDef="let element" mat-cell> {{element.fkLocation?.region_code}} </td>
    </ng-container>

    <ng-container matColumnDef="latitude">
      <th *matHeaderCellDef mat-header-cell> latitude</th>
      <td *matCellDef="let element" mat-cell> {{element.fkLocation?.latitude}} </td>
    </ng-container>

    <ng-container matColumnDef="longitude" stickyEnd>
      <th *matHeaderCellDef mat-header-cell> Longitude</th>
      <td *matCellDef="let element" mat-cell> {{element.fkLocation?.longitude}} </td>
    </ng-container>

    <ng-container matColumnDef="message" stickyEnd>
      <th *matHeaderCellDef mat-header-cell> Interceptor</th>
      <td *matCellDef="let element" mat-cell> {{element.message}} </td>
    </ng-container>

    <ng-container matColumnDef="userAgent" stickyEnd>
      <th *matHeaderCellDef mat-header-cell> User-Agent</th>
      <td *matCellDef="let element" mat-cell> {{element.userAgent}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns sticky: true" mat-header-row></tr>
    <tr (click)="onRowSelected(row)" *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  </table>
</div>
