{{markerData | json}}
<form novalidate>
  <button [mat-dialog-close]="true" class="dialog-close" mat-button>×</button>
  <div class="marker-edit-container">
    <div class="top-title">
      <h2 mat-dialog-title>
      </h2>

    </div>
    <div class="marker-edit-container-main">
      <div mat-dialog-content>
        <div class="marker-form">
          <mat-card>
            <mat-card-header>
            </mat-card-header>

            <mat-card-content>

              <form (ngSubmit)="onSubmitMarkerDetails(markerDetailForm.value)" [formGroup]="markerDetailForm">
                <mat-form-field class="full-width">
                  <input [(ngModel)]="latitude" formControlName="latitude" matInput placeholder="latitude" required>
                  <mat-error
                    *ngIf="!markerDetailForm.controls['latitude'].valid && markerDetailForm.controls['latitude'].touched">
                    must be flout number
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <input [(ngModel)]="longitude" formControlName="longitude" matInput placeholder="longitude" required>
                  <mat-error
                    *ngIf="!markerDetailForm.controls['longitude'].valid && markerDetailForm.controls['longitude'].touched">
                    must be flout number
                  </mat-error>
                </mat-form-field>


                <mat-form-field class="full-width">
                  <input [(ngModel)]="markerData.info" formControlName="info" matInput placeholder="windows info">
                </mat-form-field>


                <mat-form-field class="full-width">
                  <input [(ngModel)]="markerData.label" formControlName="label" matInput placeholder="label">
                </mat-form-field>

                <mat-form-field class="full-width">
                  <input [(ngModel)]="markerData.iconUrl" formControlName="iconUrl" matInput placeholder="iconUrl">
                  <mat-error
                    *ngIf="!markerDetailForm.controls['iconUrl'].valid && markerDetailForm.controls['iconUrl'].touched">
                  </mat-error>

                </mat-form-field>
                <button [disabled]="!markerDetailForm.valid" class="submit-btn" color="primary" mat-raised-button
                        type="submit">Submit
                </button>
              </form>

            </mat-card-content>
          </mat-card>


        </div>
        <div class="marker-map">
          <div class="form-group">
            <label>Enter address</label>
            <input #search (keydown.enter)="$event.preventDefault()" autocapitalize="off"
                   autocorrect="off" class="form-control" placeholder="Search Nearest Location" spellcheck="off"
                   type="text" type="text">
          </div>
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="6">
            <agm-marker (dragEnd)="markerDragEnd($event)" [animation]="1" [latitude]="latitude" [longitude]="longitude"
                        [markerDraggable]="true"></agm-marker>
          </agm-map>
        </div>
      </div>

    </div>

  </div>
</form>
